
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    /* font-size: 14px; */
    font-family: 'Pathway Gothic One', sans-serif;

}

.wrap {
    background-image: url(../images/backimg.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    padding-top: 0.625rem;
  
    background-color: rgba(0, 0, 0, 0.3);
 
}








.wrapper {
    max-width: 60rem;
    min-width: 20rem;
    margin: auto;
   
    
}

a {
    display: inline-block;
}


nav {
  
    display: flex;
    flex-direction: column-reverse;
   align-items: center;
   
 
}



nav a  {
    color:  #ffffff;
}
a {
    text-decoration:none;
    
}

nav {
    margin-bottom: 3.125rem;
}

.logo {
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 10rem;
}
.log {
    margin-right: 0.625rem;
    
}
.sign a {
    display: inline-block;
    padding: 0.3125rem;
    border-radius: 1.25rem   ;
    border:2px solid rgba(255, 255, 255,0);
    font-family: Montserrat;
    font-weight: 700;
   



}



.sign a:hover {
    border:2px solid rgb(255, 255, 255);
}

.title {
    text-align: center;
    color: #ffffff;
}
.title p {
    margin-bottom: 1.875rem;
    margin-top: 1.875rem;
    font-family: Roboto;
    font-size: 1.5rem;
}


.title h2 { 
font-family: Montserrat;
font-weight: 700;
font-size: 3.125rem;

}


.title a {
    
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.6875rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
   
    background-color: #ff0000;
    border-radius: 1.25rem;
}
.command {
     text-align: center;
     max-width: 60rem;
     min-width: 20rem;
     margin: auto;
     margin-top: 13.125rem;
     padding-bottom: 3.437rem;
}

.command h5 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.375rem;
    color: #000000;
}

.command a {
    text-decoration: none;
    color: #ff0000;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 0.875rem;
    padding: 0.687rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
   
    border: 2px solid #ff0000;
    border-radius: 1.25rem;
}

.profile {
display: flex;
flex-direction: column;
align-items: center;
}
.icon {
    display: block;
    position: absolute;
    top: 45%;
    left: 55%;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid #ffffff;
    border-radius: 50%;
    padding: 0.3125rem;
   
}
.profile1{
    background-color: #ff4e50;
    background-image: url(../images/icon12.png);
    background-repeat: no-repeat;
    background-position: center;
}

.profile2{
    background-color: #1cd7ad;
    background-image: url(../images/icon13.png);
    background-repeat: no-repeat;
    background-position: center;
}

.profile3{
    background-color: #ffa507;
    background-image: url(../images/icon14.png);
    background-repeat: no-repeat;
    background-position: center;
}

.profile4{
    background-color: #4e73db;
    background-image: url(../images/icon15.png);
    background-repeat: no-repeat;
    background-position: center;
}
.card {
    position: relative;
    width: 17.5rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.card:last-child{
    margin-bottom: 1.875rem;
}

.card:first-child{
    margin-top: 0px;
   
}




.card img {
  border-radius: 50%;
  display: inline-block;
  height: 7.625rem;
  width: 7.625rem;

}

.card p {
    font-family: Roboto;
   
    font-size: 0.875rem;
}



.card h5 {
    margin-bottom: 1.562rem;
    margin-top: 1.562rem;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 0.875rem;
}


@media (max-width: 720px) {
    .log {
        margin-right: 0px;
        
    }
    
    
    
}

@media (min-width: 720px) {
   
   .wrap {
       padding-top: 1.875rem;
       padding-left: 0.93rem;
       padding-right:  0.93rem;
       padding-bottom: 15rem;
   }
   .command{
       margin-top: 4.43rem;
       padding-bottom: 2.31rem;
   }
    nav {
        
          display: flex;
          flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10rem;
       
      }
.title {
    width: 65%;
    margin: auto;
}
      .title p {
          margin-top: 3.125rem;
          margin-bottom: 2.5rem;
      }

  .logo {
      margin-top: 0px;
  }

      .profile {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        }

        .card {
            flex-basis: 40%;

        }





.card:nth-child(-n+2) {
    margin-top: 0px;
   
}
.card:first-child {
    margin-bottom: 0px;
}

.command h5 {
    margin-bottom: 1.25rem;
}
.card:nth-child(n+2) {
    margin-bottom: 0px;
}
    }
.profile{
    margin-bottom: 2.68rem;
}

    @media (min-width:940px) {
       .wrap{
           padding-top: 3.125rem;
       }
       
       
       
        .profile {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            
            }
    
            .card {
                flex-basis: 23%;
            }
    .command{
        margin-bottom: 4.68rem;
    }

    .card:nth-child(-n+2) {
        margin-top: 1.25rem;
        padding-top: 0px;
    }


    .card:first-child {
       
        margin-bottom: 0px;
    }

        }
    