
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    font-size: 14px;
    font-family: 'Pathway Gothic One', sans-serif;

}

.wrap {
    background-image: url(../images/backimg.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    padding-top: 0.714rem;
  
    background-color: rgba(0, 0, 0, 0.3);
 
}








.wrapper {
    max-width: 68.57rem;
    min-width: 22.857rem;
    margin: auto;
   
    
}

a {
    display: inline-block;
}


nav {
  
    display: flex;
    flex-direction: column-reverse;
   align-items: center;
   
 
}



nav a  {
    color:  #ffffff;
}
a {
    text-decoration:none;
    
}

nav {
    margin-bottom: 3.517rem ;
}

.logo {
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.428rem;
    margin-top: 11.428rem;
}
.log {
    margin-right: 0.7142rem;
    
}
.sign a {
    display: inline-block;
    padding: 0.3571rem;
    border-radius: 1.428rem   ;
    border:2px solid rgba(255, 255, 255,0);
    font-family: Montserrat;
    font-weight: 700;
   



}



.sign a:hover {
    border:2px solid rgb(255, 255, 255);
}

.title {
    text-align: center;
    color: #ffffff;
}
.title p {
    margin-bottom: 2.1428rem;
    margin-top: 2.1428rem;
    font-family: Roboto;
    font-size: 1.714rem;
}


.title h2 { 
font-family: Montserrat;
font-weight: 700;
font-size: 3.5714rem;

}


.title a {
    
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.7857rem;
    padding-right: 1.4285rem;
    padding-left: 1.4285rem;
   
    background-color: #ff0000;
    border-radius: 1.4285rem;
}
.command {
     text-align: center;
     max-width: 68.57rem;
    min-width: 22.857rem;
     margin: auto;
     margin-top: 15rem;
     padding-bottom: 3.928rem;
}

.command h5 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.5714rem;
    color: #000000;
}

.command a {
    text-decoration: none;
    color: #ff0000;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.7857rem;
    padding-right: 1.4285rem;
    padding-left: 1.4285rem;
   
    border: 2px solid #ff0000;
    border-radius: 1.4285rem;
}

.profile {
display: flex;
flex-direction: column;
align-items: center;
}


.card {
    width: 20rem;
    margin-top: 1.4285rem;
    margin-bottom: 1.4285rem;
}
.card:last-child{
    margin-bottom: 2.1428rem;
}

.card:first-child{
    margin-top: 0px;
    padding-top: 2.1428rem;
}




.card img {
  border-radius: 50%;

}

.card p {
    font-family: Roboto;
   
    font-size: 1rem;
}



.card h5 {
    margin-bottom: 1.7857rem;
    margin-top: 1.7857rem;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1rem;
}


@media (max-width: 720px) {
    .log {
        margin-right: 0px;
        
    }
    
    
    
}

@media (min-width: 720px) {
   
   .wrap {
       padding-top: 2.1428rem;
       padding-left: 1.07rem;
       padding-right: 1.07rem;
       padding-bottom: 17.1428rem;
   }
   .command{
       margin-top: 71px;
       padding-bottom: 37px;
   }
    nav {
        
          display: flex;
          flex-direction: row;
        justify-content: space-between;
        margin-bottom: 160px;
       
      }
.title {
    width: 65%;
    margin: auto;
}
      .title p {
          margin-top: 50px;
          margin-bottom: 40px;
      }

  .logo {
      margin-top: 0px;
  }

      .profile {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        }

        .card {
            flex-basis: 47%;

        }
.card:nth-child(-n+2) {
    margin-top: 0px;
    padding-top: 20px;
}
.card:nth-child(n+2) {
    margin-bottom: 0px;
}
    }
.profile{
    margin-bottom: 43px;
}

    @media (min-width:940px) {
       .wrap{
           padding-top: 50px;
       }
       
       
       
        .profile {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            
            }
    
            .card {
                flex-basis: 23%;
            }
    .command{
        margin-bottom: 75px;
    }

    .card:nth-child(-n+2) {
        margin-top: 20px;
        padding-top: 0px;
    }


    .card:first-child {
       
        margin-bottom: 0px;
    }

        }
    