* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-size: 14px;
  font-family: 'Pathway Gothic One', sans-serif;
  background-image: url(../imagine/backimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  padding-top: 230px;
  padding-bottom: 30px;
  
}
p {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 21px;
}


.wrapper {
  width: 1024px;
  background-color: rgb(255, 255, 255);
 margin: auto;
  padding-left: 60px;
  padding-right: 65px;
  padding-top: 120px;
  padding-bottom: 80px;
}







p {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 1025px;
  margin: auto;
  margin-bottom: 110px;
}

.menu {
  padding-left: 90px;
  padding-right: 90px;
}

.item:nth-child(3n+2) {
  margin-left: 60px;
  margin-right: 60px;
}

.item:nth-child(3) {
  margin-right: 230px;
}



.menu,
.submenu {
  list-style: none;
}

.submenu {
  display: none;
}

.item1 {
  position: relative;
}

.item1:hover .submenu {
  display: block;
  top: 37px;
  font-size: 20px;
  padding: 10px;
  background-color: #ffffff;
  left: -6px;
  position: absolute;
  color: #6b7488;
}

.item1:hover {
  color: #263555;
}

.item:hover {
  color: #263555;
}

.item1:before {
  content: "";
  display: none;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fdfdfd transparent;
}

.item1:hover:before {
  position: absolute;
  top: 27px;
  left: 35%;
  content: "";
  display: block
}

.item,
.item1 {
  display: inline-block;
  color: white;
  font-size: 28px;
  text-transform: uppercase;
  font-family: Pathway Gothic one;
}

.logo {
  display: flex;
justify-content: space-between;
}

.log {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  background-color: white;
  padding: 60px;
  width: 138px;
  height: 138px;
}

.log p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-transform: uppercase;
  font-size: 60px;
  font-family: Dorsa;
  color: rgb(38, 53, 85);
}
.log a {
  text-decoration: none;
 
}














































.firsthalf {
  display: flex;
  justify-content:space-between;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid rgb(222, 219, 219);
}

.title,
.undertitle {
  color: rgb(38, 53, 85);
}

.title {
  margin-bottom: 50px;
}

.undertitle {
  margin-bottom: 20px;
}
.fin {
  display: inline-block;
  width: 120px;
}

.flows {
  display: table;
  float: left;
  margin-right: 25px;
  margin-bottom: 15px;
}

.textcontent {
  color: rgb(78, 80, 80);
}

.bolter {
  margin-top: 20px;
  color: rgb(78, 80, 80);
}

.left1 {
  display: inline-block;
  width: 72%;
  vertical-align: top;
}

.right1 {

  width: 20%;
  vertical-align: top;
  
}
.list li {
  vertical-align: top;
}

.right1 h3 {
  display: inline-block;
}


.list li {
  margin-top: 40px;
}



.leftside {
  width: 630px;
  display: inline-block;
  
}
.secondhalf ul {
  margin-top: 40px;
  margin-bottom: 90px;
 
}
.secondhalf  {
 display: flex;
 justify-content: space-between;
 
}


.list,
.bell {
  list-style: none;
}
.list {
  counter-reset: calc;
}

.right1 li::before {
	counter-increment: calc;
	content: counter(calc);
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	border-radius: 50%;
	background-color: #1789fc;
	color: #fefefe;
	text-align: center;
  line-height: 30px;
  vertical-align: top;
  
}


.leftside li::before {
  display: inline-block;
  content: '\2192';
  color: rgb(76, 175, 229);
  margin-right: 13px;
}

.bell h3 {
  display: inline-block;
}

.bell {
  display: inline-block;
  color: rgb(38, 53, 85);
  width: 300px;
  margin-top: 30px;
}

.bell:nth-child(-2n+3) {
margin: 0px;
}
.rightside {

  width: 215px;
  vertical-align: top;
  margin-left: 40px;
  text-align: center;
}
.contacts {
  text-align: center;
  display: flex;
 
  
}
.list :first-child{
  margin-top: 0px;
}

.left1 {
  clear: both;
}

.profile {
  width: 160px;
  background-color: rgb(252, 250, 250);
  margin: auto;
  text-align: justify;
  padding: 20px;
}
.profile::before {
  content: "\00AB";

}
.profile::after {
  content: "\00BB";

}


.markj {
  margin-top: 30px;
}


.contakts {
background-color: #30455b;
width: 1024px;
margin: auto;
font-style: normal;
display: flex;
justify-content: space-between;

}
.authors 
 {
  list-style: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Pathway Gothic One', sans-serif;
  width: 75%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: column wrap;
  height: 40px;
  
  
}

.connect {
  list-style: none;
  display: flex;
  flex-flow: column;
  color: #ffffff;
  width: 25%;
}

.content {
  width: 710px;
  margin: auto;
  padding-bottom: 50px;
  display: flex;
  padding-top: 50px;
}

.end {
  color: #ffffff;
  text-align: center;
  margin-top:25px;
}

.links {
 color: rgb(255, 255, 255);
  margin: auto;
  display: flex;
  margin-top:30px;
  flex-direction: row;
}
.links img {
  display: block;
  width: 40px;
  height: 40px;
}

.flex-here {
  display: flex;
 list-style: none;
  margin: auto;
  width: 200px;
  justify-content: space-between;
}




