* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
 
  min-height: 100vh;
  font-size: 14px;
  font-family: 'Pathway Gothic One', sans-serif;
  background-image: url(../imagine/backimg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

main {
  padding-top: 230px;
  padding-bottom: 300px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 1025px;
  margin: auto;
  margin-bottom: 110px;
}

.item:first-child {
  padding-left: 90px;
}

.item:last-child {
  padding-right: 90px;
}

.item:nth-child(3n+2) {
  margin-left: 60px;
  margin-right: 60px;
}

.item:nth-child(3) {
  margin-right: 230px;
}

.wrapper {
  width: 1025px;
  background-color: rgb(255, 255, 255);
  margin: auto;
  padding-left: 60px;
  padding-right: 65px;
  padding-top: 60px;
  padding-bottom: 130px;
}

.menu,
.submenu {
  list-style: none;
}

.submenu {
  display: none;
}

.item1 {
  position: relative;
}

.item1:hover .submenu {
  display: block;
  top: 37px;
  font-size: 20px;
  padding: 10px;
  background-color: #ffffff;
  left: -6px;
  position: absolute;
  color: #6b7488;
}

.item1:hover {
  color: #263555;
}

.item:hover {
  color: #263555;
}

.item1:before {
  content: "";
  display: none;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fdfdfd transparent;
}

.item1:hover:before {
  position: absolute;
  top: 27px;
  left: 35%;
  content: "";
  display: block
}

.item,
.item1 {
  display: inline-block;
  color: white;
  font-size: 28px;
  text-transform: uppercase;
  font-family: Pathway Gothic one;
}

.logo {
  display: inline-block;
}

.log {
  position: absolute;
  top: 165px;
  left: 566px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  background-color: white;
  padding: 60px;
  width: 200px;
  height: 200px;
}

.log p {
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 60px;
  font-family: Dorsa;
  color: rgb(38, 53, 85);
}
.log a {
  text-decoration: none;
}
.carousel img {
  width: 900px;
  height: 570px;
}

.slick-arrow {
  position: absolute;
  z-index: 10;
outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #38afe5;





  width: 45px;
  height: 90px;
    line-height: 90px;
display: inline-block;
}

.slick-arrow:hover {
  opacity: 0.8;
}

.slick-next {
  color: #38afe5;
  top: 430px;
  left: 50px;




  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  
  background-color: #38afe5;;

  
}
.slick-next:before {
  content: "\2190";

    color:#ffffff;
   font-size: 40px;
  display: inline-block;
}

.slick-prev {
  color: #38afe5;
  top: 430px;
  left: 90px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  margin-left: 5px;
  background-color: #38afe5;;



  
}
.slick-prev:before {
  content: "\2192";
    color:#ffffff;
    margin-left:5px;
    font-size: 40px;
}


.prevy {
  display: inline-block;
  position: absolute;
  top:700px;
  text-transform: uppercase;
  font-family: pathway gothic one;
  font-size: 35px;
  padding: 20px;
  background-color: #38afe5;
  color: #ffffff;
}

.places {
  display: inline-block;
  position: absolute;
  top:633px;
  text-transform: uppercase;
  
  font-family: pathway gothic one;
  font-size: 23px;
  padding: 20px;
  background-color: #ffffff;
  color: #263555;
}




.bottomarticle {
margin-top: 60px;
}

.articletitel {
  font-family: pathway gothic one;
  font-size: 30px;
 text-transform: uppercase;
 color: #263555;
 margin-bottom: 60px;
}


.bottomarticle img {
  z-index: 11;
  display: inline-block;
  width: 290px;
  height: 270px;
  
}


.textimg2 {
  margin-left: 10px;
  margin-right: 10px;
}


.venice  {
  z-index: -1;
  position: absolute;
  top: 1174px;
  left: 223px;
  display: inline-block;
  background-color: #193149;
  width: 145px;
  height: 270px;
  color: #ffff;
  
}

.venice h3 {
  font-size:30px;
  padding-left: 39px;
  margin-bottom: 20px;
}
.venice p {
padding-left: 3px;
font-size: 12px;
padding-right: 3px;
}

.venice a {
  display: block;
  width: 35px;
 background-color: #ffffff;
 text-decoration: none;
 color:#000000;
 padding: 2px;
 border-radius: 20%;
margin-right: 5px;
 margin-left: auto;
 margin-top: 20px;
  }


  .newyork  {
    z-index: -1;
    position: absolute;
    top: 1174px;
    left: 525px;
    display: inline-block;
    background-color: #193149;
    width: 145px;
    height: 270px;
    color: #ffff;
    
  }
  
  .newyork  h3 {
    font-size:30px;
    padding-left: 30px;
    margin-bottom: 20px;
  }
  .newyork  p {
  padding-left: 3px;
  font-size: 12px;
  padding-right: 3px;
  }
  
  .newyork  a {
    display: block;
    width: 35px;
   background-color: #ffffff;
   text-decoration: none;
   color:#000000;
   padding: 2px;
   border-radius: 20%;
  margin-right: 5px;
   margin-left: auto;
   margin-top: 20px;
    }

    .paris  {
      z-index: -1;
      position: absolute;
      top: 1174px;
      left: 827px;
      display: inline-block;
      background-color: #193149;
      width: 145px;
      height: 270px;
      color: #ffff;
      
    }
    
    .paris  h3 {
      font-size:30px;
      padding-left: 30px;
      margin-bottom: 20px;
    }
    .paris  p {
    padding-left: 3px;
    font-size: 12px;
    padding-right: 3px;
    }
    
    .paris  a {
      display: block;
      width: 35px;
     background-color: #ffffff;
     text-decoration: none;
     color:#000000;
     padding: 2px;
     border-radius: 20%;
    margin-right: 5px;
     margin-left: auto;
     margin-top: 20px;
      }

.ven ,
.ny ,
.fr {
  display: inline-block;
}

      .ven:hover .venice{
        z-index: 1;
       
        
      }
      .ny:hover  .newyork{
        z-index: 1;
       
        
      }
      .fr:hover  .paris{
        z-index: 1;
       
        
      }

      .totop {
        z-index: 12;
        display: inline-block;
       position: fixed;
       top: 600px;
       left: 1140px;
        width: 30px;
        height: 30px;
        background-color:  #38afe5;
        border-radius: 50%;
      }


      .totop:before {
        
        content: "\21E7";
        color: #ffffff ;
        font-size: 25px;
        position: absolute;
       
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
       
      }

   