* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-size: 16px;
  font-family: 'Pathway Gothic One', sans-serif;
}

.wrapper {
  background-image: -webkit-gradient( linear, left bottom, left top, from(rgba(252, 227, 138, 0.81)), to(rgba(243, 129, 129, 0.81))), url(../images/backimg-min.jpg);
  background-image: -webkit-linear-gradient( bottom, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%), url(../images/backimg-min.jpg);
  background-image: -o-linear-gradient( bottom, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%), url(../images/backimg-min.jpg);
  background-image: linear-gradient( to top, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%), url(../images/backimg-min.jpg);
  min-width: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 0.625rem;
  padding-bottom: 8.56rem;
  margin-bottom: 7.5rem;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* HEADER */

.page-header {
  color: #ffffff;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.page-nav__list {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 640px;
  height: 30px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
}

.page-nav__item:hover {
  color: #fce38a;
  border-bottom: 2px solid #fce38a;
}

.logo {
  border: 2px solid;
  border-color: rgba(0, 0, 0, 0);
}

.logo:hover {
  color: #fce38a;
  border-bottom: 2px solid #fce38a;
}

.article__link:hover {
  color: #fce38a;
  border: 2px solid #182fb6;
}

.icon-track,
.icon-search {
  fill: #ffffff;
}

.icon-track:hover,
.icon-search:hover {
  fill: #fce38a;
}

.page-nav__item {
  list-style: none;
  padding-bottom: 15px;
  padding-top: 15px;
  border: 2px solid;
  border-color: rgba(0, 0, 0, 0);
}

.header-page__article {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 170px;
  padding-bottom: 230px;
}

.article__title {
  font-family: "Kaushan Script";
  font-size: 72px;
}

.article__intro {
  text-align: center;
  width: 800px;
  margin-top: 70px;
  margin-bottom: 125px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 150px;
}

.logo {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  text-decoration: none;
}

.article__link {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
}

/* SERVICES */

.offer-services__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
  max-width: 1200px;
  margin-bottom: 100px;
}

.offer-services__container ,
.meeting-with-team__container {
 flex-wrap: nowrap;
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 100px;
}

.services-title__services-explain {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.services-title__services-explain svg {
  margin-right: 25px;
}

.services-title__services-explain:nth-child(-n+3) {
  margin-bottom: 100px;
}

.services__description {
  -ms-flex-preferred-size: 80%;
  flex-basis: 80%;
}

.services__description-title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.services__description-content {
  font-family: Roboto;
  font-weight: 400;
  font-size: 15px;
}

.services-title__description-team {
  font-family: "Kaushan Script";
  font-size: 24px;
}

.services-title__description-services {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 30px;
}

.services-title__description-services {
  margin-top: 30px;
  position: relative;
}

.services-title__description-services::after {
  display: block;
  position: absolute;
  content: "";
  height: 6px;
  width: 60px;
  background: #ec4444;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  left: 50%;
  bottom: -174%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* TEAM */

.meeting-with-team {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

.meeting-with-team__description-team {
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 80px;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
}

.team-list img {
  display: block;
  max-width: 100%;
  height: 470px;
}

.team-list__name {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.team-list__direction {
  font-family: Roboto;
  font-weight: 400;
  font-size: 15px;
}

.team-list__item {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  list-style: none;
  position: relative;
}

.team-list__item::before {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 84.9%;
  background-image: -webkit-gradient( linear, left bottom, left top, from(rgba(252, 227, 138, 0.81)), to(rgba(243, 129, 129, 0.81)));
  background-image: -webkit-linear-gradient( bottom, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%);
  background-image: -o-linear-gradient( bottom, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%);
  background-image: linear-gradient( to top, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%);
  opacity: 0;
  -webkit-transform: translateX(-2%) translateY(-2%);
  -ms-transform: translateX(-2%) translateY(-2%);
  transform: translateX(-2%) translateY(-2%);
}

.img-hover {
  background-color: #95e1d3;
}

.team-list__item:hover img {
  -webkit-transform: translateX(-2%) translateY(-2%);
  -ms-transform: translateX(-2%) translateY(-2%);
  transform: translateX(-2%) translateY(-2%);
}

.team-list__item:hover .icon-container {
  opacity: 1;
}

.inter-icon:hover {
  background-color: #f38181;
  fill: white;
}

.team-list__item:hover::before {
  opacity: 1;
  z-index: 10;
}

.icon-container {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 13;
  top: 45%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 243px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.inter-icon {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #fce38a;
  padding: 15px;
  fill: #f38181;
}

/* FOOTER */

.footer-page {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 80px;
  border-top: 2px solid #808080;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.footer-link {
  color: #ff0000;
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
}

.input-form {
  padding: 10px;
  text-transform: uppercase;
}

.button-form {
  color: #ffffff;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-transform: uppercase;
  background-color: #95e1d3;
  border-color: #95e1d3;
  border: 0px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
}

.mat {
  background-image: url(../images/Met.jpg);
}

/* MEDIA */

@media (min-width: 1920px) {
  .wrapper {
    background-image: -webkit-gradient(linear, left bottom, left top, from(purple), color-stop(crimson), color-stop(orangered), to(gold)), url(../images/backimg2x-min.jpg);
    background-image: -webkit-linear-gradient(bottom, purple, crimson, orangered, gold), url(../images/backimg2x-min.jpg);
    background-image: -o-linear-gradient(bottom, purple, crimson, orangered, gold), url(../images/backimg2x-min.jpg);
    background-image: linear-gradient(to top, purple, crimson, orangered, gold), url(../images/backimg2x-min.jpg);
  }
}
